<Section>
    <mat-toolbar color="primary">
      <span>Sistema Alunos</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="">
        <mat-icon>arrow_left_alt</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="telaLogin">
        <mat-icon>key</mat-icon>
      </button>
    </mat-toolbar>
  </Section>
  <section class="section">  
    <router-outlet></router-outlet>
  </section>