<!-- <se</section class="box1"> -->
<section class="box1">
    <img class="logo" src="../../assets/logo.png" alt="">
    <section>
        <mat-form-field  class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput>
        </mat-form-field>
    </section>
    <button mat-raised-button color="primary" class="bt-login">Entrar</button>
    <section class="example-warn">
         <span> Tela de login </span>
    </section>
    <section>
        <button mat-raised-button color="primary" class="example-button-width">Facebook</button>
        <button mat-raised-button color="warn" class="example-button-width bt-d">Google</button>
    </section>
</section>